<div class="row">
  <div *ngFor="let movie of movies">
    <div class="col">
      <div class="card item-card mt-5">
          <img class="card-img-top" [src]="movie.poster" alt="Imagem de capa do card" width="300" height="250">
          <div class="card-body">
            <p class="card-title">
              {{movie.title}}<br>
            </p>
            <p class="card-text">
              <b>Ano: </b>{{movie.year}}
            </p>
            <a href="#" class="btn btn-primary">Adicionar aos Favoritos</a>
          </div>
      </div>
    </div>
</div>
</div>