<div class="container">
    <div class="row mt-3">
        <div class="col">
            <header>
                <h1>Projeto de Pós-Graduação PUC Minas</h1>
            </header>
            <main>
                <p>
                    Esse é um projeto da Pós-Graduação Lato Sensu da PUC Minas para exercitar os conceitos 
                    aprendido nas aulas, essa aplicação tem integração com uma API desenvolvida por mim, que 
                    por sua vez integra com uma api de filmes na web. 
                </p>
                <p>
                    <b>Sobre mim:</b> Sou formado em análise e desenvolvimento de sistema (pela Estácio), 
                    pós-graduado em Engenharia de Software (também pela Estácio) e atualmente estou cursando Pós-Graduação
                    em arquitetura de sistemas distribuídos (pela PUC Minas).

                    Trabalho com desenvolvimento de software desde 2019 e atualmente atuo pela FIRJAN,
                    no desenvolvimento de produtos educacionais. 
                    
                </p>
            </main>
            <footer>
                <b>Feito por:</b> Guilherme Silva de Azevedo <br>
                <b>GitHub:</b> <a href="https://github.com/2gsilva" target="_blank"> github.com/2gsilva</a> <br>
                <b>E-mail:</b> guilherme.asazevedo@gmail.com <br>
                <b>Linkedin:</b> 
                <a href="https://www.linkedin.com/in/guilherme-silva-de-azevedo-a73769132/" target="_blank">
                     linkedin.com/in/guilherme-silva-de-azevedo-a73769132
                </a>
            </footer>
        </div>
    </div>
</div>