<div class="row">
  <div *ngFor="let favorite of favorites">
    <div class="col">
      <div class="card item-card mt-5">
          <img class="card-img-top" [src]="favorite?.search?.poster" alt="Imagem de capa do card" width="300" height="250">
          <div class="card-body">
            <p class="card-title">
              {{favorite?.search?.title}}<br>
            </p>
            <p class="card-text">
              <b>Ano: </b>{{favorite?.search?.year}}
            </p>
          </div>
      </div>
    </div>
</div>
</div>